<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de cadastro</title>
</head>
<body>
    <h1>Login</h1>
    <form action="{{url_for('login')}}" method="post">
        <input type="text" name="username" placeholder="Usuário">
        <input type="password" name="password" placeholder="Senha">
        <input type="submit" value="Entrar">
    </form>
    <p>Não tem uma conta? <a href="{{url_for('register')}}">Cadastre-se</a></p>
</body>
</html>